.sbu-header {
    height: 10%;
    background-color: #4887bd;
    color: white;
    line-height: 60px;
    vertical-align: middle;
    max-height: 60px;
    min-height: 60px;
}

.sbu-header-left {
    width: 30%;
    float: left;
}

.sbu-header-left span {
    font-size: 1.5em;
    font-weight: 700;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 300px;
    text-decoration: none;
    font-family: Titillium Web, sans-serif;
    color: #fff;
    margin-left: 20px;
}

.sbu-header-left span a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.sub-header-left span a:hover {
    text-decoration: none;
}

.sbu-header-right {
    width: 70%;
    float: right;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
}

.sbu-header-right select {
    width: 300px;
    float: right;
    /* margin-right: 25px;*/
    margin-top: 13px;
}

.sbu-header-right .sbu-header-group {
    width: 400px;
    float: right;
    /*margin-right: 25px;*/
    top: 50%;
}

.bycdao-left {
    width: 310px;
    margin-top: 0px;
    position: fixed;
    background: #337ab7;
    height: 100%;
    transition: all 0.2s;
}

.bycdao-main {
    margin-left: 320px;
    padding-top: 5px;
    /* padding-left: 15px;*/
    padding-right: 15px;
    transition: all 0.2s;
}

.bycdao-main ul li a i {
    cursor: pointer;
}

.tab-content {
    /* border: 1px solid #c5d0dc; */
    /* padding: 16px 12px; */
    position: relative;
    z-index: 11;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list > li {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.nav-list > li.active {
    background-color: #fff;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
    background-color: #fff;
    color: #2b7dbc;
    font-weight: bold;
    font-size: 13px;
}

.nav-list > li > a {
    display: block;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color: #585858;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
}

.nav-list > li > a, .nav-list .nav-header {
    margin: 0;
}

.nav-list > li.open > a {
    background-color: #fafafa;
    color: #1963aa;
}

.nav-list > li > a > [class*="icon-"]:first-child {
    display: inline-block;
    vertical-align: unset;
    min-width: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-right: 2px;
}

.nav-list > li a > .arrow {
    display: inline-block;
    width: 14px !important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 11px;
    top: 11px;
    padding: 0;
    color: #666;
}

.nav-list a .badge, .nav-list a .label {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    top: 9px;
    right: 11px;
    opacity: .88;
}

.label-primary, .badge-primary {
    background-color: #428bca !important;
}

.badge {
    text-shadow: none;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 15px;

}

.badge-primary, .label-primary {
    background-color: #1ab394;
}

.nav-list > li > .submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted #9dbdd6;
    border-width: 0 0 0 1px;
}

.nav-list li .submenu {
    overflow: hidden;
}

.nav-list > li.active:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: 0;
    z-index: 1;
    border: 2px solid #2b7dbc;
    border-width: 0 2px 0 0;
}

.nav-list > li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

.nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
}

.nav-list > li > .submenu > li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 20px;
    top: 17px;
    border-top: 1px dotted #9dbdd6;
}

li [class^="icon-"], li [class*=" icon-"], .nav-list li [class^="icon-"], .nav-list li [class*=" icon-"] {
    width: auto;
}

.nav-tabs > li > a:hover {
    /* background-color: #FFF; */
    /* color: #4c8fbd; */
    /* border-color: #c5d0dc; */
}

.menuLi {
    border: 1px solid #f3f3f4;
    padding: 1px 2px;
    margin-bottom: 2px;
    margin-top: 3px;
}

.menuLi .mhed {
    cursor: pointer;
    padding-left: 30px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #fff;
    border-radius: 4px;
}


.swu-left {
    float: left;
}

.swu-menu {
    display: block;
    width: 65px;
    white-space: nowrap;
    font-family: Monaco;
    font-weight: bold;
}

.swu-menu-api-des {
    font-size: 12px;
    font-family: Monaco;
}

.swu-hei {
    height: 20px;
}

.swu-wd-20 {
    width: 20px;
}

.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navy-bg {
    background-color: #2e5db7;
    color: #fff;
}

.font-bold {
    font-weight: bold;
    margin-bottom: 5px;
}

.jsonview .obj {
    margin-top: 1px;
    margin-bottom: 1px;
}


.bar8 form {
    position: relative;
    width: 300px;
    /*margin: 0 auto;*/
    float: right;
}

.bar8 input, button {
    border: none;
    outline: none;
}

.bar8 input {
    width: 50%;
    height: 42px;
    /* border: 1px solid red; */
    /* padding-left: 13px; */
    margin-right: 37px;
    margin-top: 3px;
}

.bar8 button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

/*搜索框8*/
.bar8 {
    background: #4887bd;
}

.bar8 form {
    height: 42px;
}

.bar8 input {
    /* width: 0; */
    padding: 17px 0px 0 17px;
    /* border-bottom: 2px solid transparent; */
    background: transparent;
    transition: .3s linear;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

/*.bar8 input:focus {
    width: 300px;
    z-index: 1;
    !*border-bottom: 2px solid #F9F0DA;*!
}*/
.bar8 button {

    top: 0;
    right: 0;
    cursor: pointer;
}

.bar8 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.bar8 input::-webkit-input-placeholder {
    color: white;
}

.bar8 input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

.bar8 input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

.bar8 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.bar8 span {
    cursor: pointer;
    display: inherit;
    /* border: 1px solid red; */
    width: 37px;
    float: right;
}


.menu-url {
    background-color: transparent;
    color: #3b4151;
    font-size: 14px;
}

.menu-url-post {
    color: white;
    background-color: #61affd;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-put {
    color: white;
    background-color: #fca130;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-get {
    color: white;
    background-color: #0d5aa7;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-head {
    color: white;
    background-color: #9012fe;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-delete {
    color: white;
    background-color: #f93e3e;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-patch {
    color: white;
    background-color: #50e3c2;
    text-align: center;
    width: 64px;
    display: inline-block;
}

.menu-url-options {
    color: white;
    background-color: #49cc90;
    text-align: center;
    width: 64px;
    display: inline-block;
}